<!DOCTYPE html>
<html class="photogallery">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/siciarekphotogallery/css/reset.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ page_style }}"/>
</head>
<body>
<div id="page">

<div id="header">

    <h1>{{ title | trans() }} :: {{ subtitle | trans() }}</h1>

</div>



