{% include 'SiciarekPhotoGalleryBundle::header.html.twig' with {
    menu: {
        "homepage"         : config.homepage,
        "albums"           : "_albums",
        "create new album" : null,
        "add photos"       : null,
        "settings"         : "_settings"
    },
    languages: {
        "en" : "In English",
        "pl": "Po polsku"
    }
}
%}

<div id="content">
{% block content %}{% endblock %}
</div>

{% include 'SiciarekPhotoGalleryBundle::footer.html.twig' %}