{% include 'SiciarekPhotoGalleryBundle::header.html.twig' with {
    menu: {
        "homepage"         : "_homepage",
        "albums"           : "_albums",
        "create new album" : "_albums",
        "add photos"       : "_albums"
    }
}
%}

<div id="content">
{% block content %}{% endblock %}
</div>

{% include 'SiciarekPhotoGalleryBundle::footer.html.twig' %}