{% extends 'SiciarekPhotoGalleryBundle::public.layout.html.twig' %}
{% block content %}

    <h1 id="subtitle">{{ config.title | trans() }}</h1>

    {#<h3>{{ "homepage.body" | trans({}, "PhotoGalleryBundle") | raw }}</h3>#}

    <style type="text/css">


    </style>

    <script type="text/javascript">
        // <![CDATA[

        // ]]>
    </script>
{% endblock %}