{% extends 'SiciarekPhotoGalleryBundle::public.layout.html.twig' %}
{% block content %}

    <h1 id="subtitle">{{ "wait a while" | trans() }}...</h1>

    <div id="albums"></div>

    <script type="text/javascript">
        // <![CDATA[

        var pageTitle = "{{ title | trans() }}";

        $(document).ready(function () {
            $.ajax({
                url: Routing.generate("_photogallery_api_album_list"),
                error: function (response) {
                    alert("Unexpected Exception.");
                },
                success: function (response) {

                    var albums = response;

                    $("#subtitle").html(pageTitle);

                    for (var i = 0; i < albums.length; i++) {

                        if(albums[i].images.length === 0) {
                            continue;
                        }

                        var albumId = "album" + albums[i].id;
                        var descId = "desc" + albums[i].id;
                        var cover = albums[i].cover !== null ? albums[i].cover.path : null;
                        var title = albums[i].title;
                        var numberOfPhotos = "{{ "number of photos" | trans()  }}" + ": " + albums[i].images.length;
                        var description = albums[i].description;

                        $("#albums").append("<div class='image' id='" + albumId + "'></div>")

                        if (cover !== null) {
                            $("#" + albumId + "").css({
                                "background-position": "center top",
                                "background-image": "url(" + cover + ")"
                            });
                        }
                        else
                        {
                            $("#" + albumId + "").css({
                                "background-position": "center",
                                "background-image": "url({{ asset('bundles/siciarekphotogallery/images/default-cover.png') }})"
                            });
                        }

                        $("#albums").append("<div class='description' id='" + descId + "'></div>");
                        $("#" + descId).append("<h2>" + title + "</h2>");
                        $("#" + descId).append("<p>" + description + "</p>");
                        $("#" + descId).append("<p style='color:#AAAAAA !important;font-style:italic;'>" + numberOfPhotos + "</p>");
                        $("#albums").append('<div class="separator"></div>');
                    }

                    $(".image").click(function () {
                        var id = $(this).attr("id").replace(/^album/, "");
                        location.href = Routing.generate("_album", {id: id, slug: "album"}, true);
                    });
                }
            });
        });

        // ]]>
    </script>
{% endblock %}