{% extends "SiciarekPhotoGalleryBundle::public.layout.html.twig" %}
{% block content %}

    {% include 'SiciarekPhotoGalleryBundle::forms.html.twig' %}

    <img style="display:none" id="image-buffer" />

    <h1 id="subtitle">{{ "wait a while" | trans() }}&hellip;</h1>
    <p class="info"></p>

    <div id="images"></div>
    <div id="image-preview"></div>

    <style type="text/css">
        html.photogallery .image-preview-dialog {
            background-color: white;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: none;
            cursor: pointer;
        }
    </style>

    <script type="text/javascript">
        // <![CDATA[

        var albumId = {{ id }};
        var currentImage = 0;
        var frame = 16;
        var album = [];
        var image_preview_config = {};

    </script>

    <script type="text/javascript">

        function displayCurrentImage() {

            var format = "jpg";
            var width = album[currentImage].width + frame;
            var height = album[currentImage].height + frame;

            image_preview_config = {
                dialogClass: "image-preview-dialog",
                width: width,
                height: height,
                closeOnEscape: true,
                draggable: false,
                resizable: false,
                modal: true,
                buttons: {},
                resizable: false,
                open: function () {
                    $(".ui-widget-overlay").bind("click", function () {
                        $("#image-preview").dialog("close");
                    });
                    displayCurrentImage();
                },
                close: function () {

                }
            };

            bufferImage(currentImage, album, format);

            $(".image-preview-dialog").css({
                "background-image": "url(" + Routing.generate("_photogallery_api_show_image", {id: album[currentImage].id, slug: "image", format: format}, true) + ")"
            });

            $("#image-preview").dialog(image_preview_config);
        }

        function bufferImage(currentImage, album, format) {
            var bufferedImage = (currentImage + 1) % album.length;
            var bufferedImageSrc = Routing.generate("_photogallery_api_show_image", {id: album[bufferedImage].id, slug: "image", format: format}, true);
            $("#image-buffer").attr("src", bufferedImageSrc);
        }

        $(document).ready(function () {

            $.ajax({
                url: Routing.generate("_photogallery_api_album", { id: albumId }),
                error: function (response) {
                    alert("Unexpected Exception.");
                },
                success: function (response) {
                    album = response.data;

                    var temp = response.msg.split(";;;");
                    var name = temp[0];
                    var description = temp[1];

                    $("#subtitle").html(name + " (" + response.totalCount + ")");
                    $("p.info").html(description);

                    $("li#create-new-album-menu").show();
                    $("li#add-photos-menu").show();

                    if (album.length > 0) {
                        var format = "jpg";  // TODO: album[i].format;

                        for (var i = album.length - 1; i >= 0; i--) {
                            var imgId = "img" + i;
                            var thumbnail = Routing.generate("_photogallery_api_show_thumbnail", {id: album[i].id, format: format});

                            $("#images").append('<div class="image" id="' + imgId + '"></div>');
                            $("#" + imgId).css({
                                "width" : album[i].thumbnail.width
                            });

                            if(i == 0) {
                                $("#images").append('<div style="clear:both"></div>');
                            }
                        }

                        setTimeout(function(){
                            for (var i = 0; i < album.length; i++) {
                                var imgId = "img" + i;
                                var thumbnail = Routing.generate("_photogallery_api_show_thumbnail", {id: album[i].id, format: format});
                                $("#" + imgId).css({
                                    "border" : "none",
                                    "background-color" : "transparent",
                                    "background-image": "url(" + thumbnail + ")"
                                });

                            }
                        }, 1000);

                        $(".image").click(function () {
                            currentImage = $(this).attr("id").replace(/^img/, "");
                            displayCurrentImage();
                        });

                        $("#image-preview").click(function () {
                            currentImage++;
                            currentImage %= album.length;
                            $("#image-preview").dialog("close");
                            displayCurrentImage();
                        });

                        bufferImage(0, album, format);
                    }
                    else {
                        $("#images").append('<p style="margin-top:100px;text-align:center;color:gray !important;">{{ "Current album contains no photos" | trans() }}.</p>');
                    }
                }
            });
        });
        // ]]>
    </script>
{% endblock %}