{% extends 'SiciarekPhotoGalleryBundle::public.layout.html.twig' %}
{% block content %}

    <h1 id="subtitle">{{ "User settings" | trans() }}</h1>

    <pre>{{ settings | var_dump() }}</pre>

    <script type="text/javascript">

        var ob = {
            first: [1,2,3],
            second: {
                a: "a",
                b: "b"
            }
        };

        console.log(ob);
        console.log(JSON.stringify(ob));

        // <![CDATA[
        $(document).ready(function () {
            $.cookie.defaults = {
                expires: 365
            };

            $.cookie.json = true;

            $("#subtitle").click(function () {

                var object = {
                    private: {
                        background: "#CACACA",
                        thumbnails: {
                            size: "medium",
                            onpage: 45
                        },
                        autoshow: {
                            enabled: true,
                            seconds: 4
                        },
                        storeoriginals: true
                    },
                    public: {
                        albums: {
                            pager: 5
                        },
                        photos: {
                            pager: 25,
                            thumbnails: {
                                size: "medium",
                                title: true,
                                description: true
                            }
                        }
                    },
                    datetime: "{{ "now" | date("Y-m-d H:i:s") }}"
                };

                $.cookie("settings", object);
                location.reload();
            });
        });
        // ]]>
    </script>

{% endblock %}