
html.photogallery p.info {
    margin-left: 8px;
}

html.photogallery div.create-new-element {
    display: none;
    overflow: hidden;
}

html.photogallery div.create-new-element label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

html.photogallery div.create-new-element label[for="hidden"] {
    display: inline-block;
}

html.photogallery div.create-new-element div {
    margin-bottom: 8px;
}

html.photogallery div.create-new-element label:after {
    content: ":";
}

html.photogallery .photogallery-form  {
    font: 16px/1.2 Georgia, Times, serif;
}

html.photogallery div.create-new-element select,
html.photogallery div.create-new-element input[type="text"],
html.photogallery div.create-new-element input[type="file"],
html.photogallery div.create-new-element textarea
{
    color: #666;
    width: 99%;
    padding: 3px 0 3px 3px;
    font: 16px/1.2 Georgia, Times, serif;
}

html.photogallery div.create-new-element textarea {
    resize: none;
    height: 90px;
}

html.photogallery div.create-new-element input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    vertical-align: text-bottom;
    margin-left: 6px;
}

/* --------------------------------------------------------- */

html.photogallery div#content div#albums div.image,
html.photogallery div#content div#images div.image {
    border: 1px solid #555;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}

html.photogallery div#content div#images div.image {
    border: none;
    margin: auto;
    width: 200px;
    height: 150px;
    margin: 8px 8px 8px 8px;
}

html.photogallery div#content div#albums div.image {
    background-color: silver;
    background-position: center top;
    width: 500px;
    height: 350px;
    margin: 8px;
    margin-right: 16px;
}

html.photogallery div#content div#albums div.description {
    margin: 0;
    padding: 0;
    margin-top: 0;
    width: 560px;
    float: left;
}

html.photogallery div#content div#albums div.description h2 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 6px;
    color: #666;
    margin-top: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #666;
}

html.photogallery div#content div#albums div.description p {
    margin-top: 5px;
}

html.photogallery div#content div#albums div.image-frame.last,
html.photogallery div#content div#images div.image.last {
    margin-right: 0;
}

html.photogallery div#content div#albums div.separator,
html.photogallery div#content div#images div.separator {
    clear: both;
}

html.photogallery {
    background-color: #ffffe0;
}

html.photogallery div#header,
html.photogallery div#content,
html.photogallery div#footer {
    min-width: 800px;
    max-width: 1106px;
    margin: 0 auto;
}

/* HEADER: */

html.photogallery div#header {
    border-bottom: 1px solid 222;
    margin-bottom: 16px;
}

/* CONTENT: */

html.photogallery div#content {
    min-height: 300px;
}

html.photogallery div#content h1 {
    font: 32px/40px Georgia, Times, serif;
    letter-spacing: 4px;
    margin: 8px 0 16px 0;
    text-shadow: 1px 1px silver;
}

html.photogallery div#content h1:before {
    content: "#";
}

html.photogallery div#content p {
    color: #313131 !important;
    font: 16px/1.2 Georgia, Times, serif;
    margin-bottom: 12px;
}

/* FOOTER: */

html.photogallery div#footer {
    border-top: 1px solid #313131;
    padding-top: 6px;
    margin-top: 16px;
    padding-bottom: 40px;
}

html.photogallery div#footer div#copyrights {
    font-size: 16px;
}

/* <menu> */

html.photogallery div#menu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
    z-index: 100;
}

html.photogallery div#menu div {
    background-color: #C00;
    background: linear-gradient(to bottom, #BB7070 0%, #B00 78%, #C00 100%) repeat scroll 0 0 transparent;
}

html.photogallery div#menu div ul {
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
    position: relative;
    min-width: 800px;
    max-width: 1106px;
    z-index: 101;
    list-style: none outside none;
}

html.photogallery div#menu div ul li {
    display: block;
    float: left;
    position: relative;
    padding: 0 8px 4px 8px;
}

div#menu div ul li a {
    display: block;
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
}

div#menu div ul li:hover {
    background-color: #600;
}

div#menu div ul li.menu-right {
    float: right;
    position: relative;
}

/* </menu> */

