html.photogallery p.info {
    margin-left: 8px;
}

html.photogallery div.create-new-element {
    display: none;
    overflow: hidden;
}

html.photogallery div.create-new-element label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

html.photogallery div.create-new-element label.error {
    color: red;
    font-weight: normal;
    font-style: italic;
}

html.photogallery div.create-new-element label.error:after {
    content: "";
}

html.photogallery div.create-new-element label[for^="hidden"] {
    display: inline-block;
}

html.photogallery div.create-new-element div {
    margin-bottom: 8px;
}

html.photogallery div.create-new-element span[id^="label-photos"]:after,
html.photogallery div.create-new-element label:after {
    content: ":";
}

/* FILE UPLOAD CONTROL: */

html.photogallery div.create-new-element label.cabinet:after {
    content: "";
}

html.photogallery div.create-new-element form .form-info {
    color: #666;
    margin-top: 10px;
    margin-bottom: 16px;
    display: none;
}

html.photogallery div.create-new-element span[id^="label-photos"] {
    cursor: default;
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
}

html.photogallery div.create-new-element label.cabinet {
    display: inline-block !important;
    width: 32px;
    height: 32px;
    background-image: url(/bundles/siciarekphotogallery/images/btn-choose-file-off.png);
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    cursor: pointer !important;
    vertical-align: middle;
}

html.photogallery div.create-new-element label.cabinet:hover {
    background-image: url(/bundles/siciarekphotogallery/images/btn-choose-file-on.png);
}

html.photogallery div.create-new-element label.cabinet input[id^="photos"] {
    position: relative;
    left: -100px;
    font-size: 48px;
    height: 32px;
    width: 32px;
    cursor: pointer !important;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
}

html.photogallery .photogallery-form {
    font: 16px/1.2 Georgia, Times, serif;
}

html.photogallery div.create-new-element div.form-colum {
    float: left;
    /*border: 1px solid grey;*/
}

html.photogallery div.create-new-element div.form-colum.left div.form-field {
    width: 440px;
}

html.photogallery div.create-new-element div.form-colum.right {
    float: left;
    margin-left: 24px;
}

html.photogallery div.create-new-element div.form-colum.right div.files-list {
    height: 250px;
    overflow: auto;
    border: 1px solid silver;
}

html.photogallery div.create-new-element select,
html.photogallery div.create-new-element input[type="text"],
html.photogallery div.create-new-element textarea {
    color: #666;
    width: 440px;
    padding: 3px 0 3px 3px;
    font: 16px/1.2 Georgia, Times, serif;
}

html.photogallery div.create-new-element select {
    width: 436px;
}

html.photogallery div.create-new-element textarea {
    resize: none;
    width: 430px;
    height: 200px;
}

html.photogallery div.create-new-element input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    vertical-align: text-bottom;
    margin-left: 6px;
}

/* --------------------------------------------------------- */

html.photogallery div#content div#albums div.image,
html.photogallery div#content div#images div.image {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
    margin: 8px;
    border: 1px #808080 solid;
}

html.photogallery div#content div#images div.image {
    margin-bottom: 0;
    width: 200px;
    height: 150px;
}

html.photogallery div#content div#albums div.image {
    border: 1px grey outset;
    background-color: #a47e3c;
    margin-right: 24px;
    width: 216px;
    height: 166px;
}

html.photogallery div#content .hidden {
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0.3);
}

html.photogallery div#content #images .hidden {
    background-color: dimgray !important;
}

html.photogallery div#content div#albums div.description {
    margin: 0;
    padding: 0;
    margin-top: 0;
    width: 850px;
    float: left;
    cursor: pointer;
}

html.photogallery div#content div#albums div.description p.number-of-photos {
    color: #AAAAAA !important;
    font-style: normal;
}

/*TOOLBAR:*/

html.photogallery div#content span.toolbar {
    margin-left: 16px;
}

html.photogallery div#content  span.toolbar span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration-line: line-through;

    /*background-color: #f5f5f5;*/
    /*border: 1px solid grey;*/
}

html.photogallery div#content span.toolbar span:hover {
    /*border: 1px solid black;*/
    /*background-color: white;*/
}

html.photogallery div#content span.toolbar span.edit {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/page_white_edit.png);
}

html.photogallery div#content span.toolbar span.delete {
    background-image: url(/bundles/siciarekphotogallery/images/icons/delete.png);
}

html.photogallery div#content span.toolbar span.hide {
    background-image: url(/bundles/siciarekphotogallery/images/icons/hide.png);
}

html.photogallery div#content span.toolbar span.show {
    background-image: url(/bundles/siciarekphotogallery/images/icons/show.png);
}

html.photogallery div.create-new-element div.form-field {
    width: 350px;
}

html.photogallery div.image-preview-dialog .ui-dialog-titlebar {
    padding: 0;
    display: none;
}

html.photogallery .ui-dialog.image-preview-dialog {
    padding: 0;
}

html.photogallery .ui-widget-overlay {
    background: black;
    opacity: 0.7;
}

html.photogallery .ui-widget-content {
    border: 0;
}

/*DESCRIPTION*/

html.photogallery div#content div#albums div.description h2 {
    font-family: Georgia, Times, serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 6px;
    color: #666;
    margin-top: 0;
}

html.photogallery div#content div#albums div.description p {
    font-family: Georgia, Times, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 8px;
}

html.photogallery div#content div#albums div.image-frame.last,
html.photogallery div#content div#images div.image.last {
    margin-right: 0;
}

html.photogallery div#content div#albums div.separator,
html.photogallery div#content div#images div.separator {
    clear: both;
}

html.photogallery {
    background-color: #ffffe0;
}

html.photogallery div#header,
html.photogallery div#content,
html.photogallery div#footer {
    min-width: 800px;
    max-width: 1106px;
    margin: 0 auto;
}

/*DIALOGS*/

html.photogallery #confirmation-dialog #confirmation-message {
    width: 100%;
    text-align: center;
    margin-top: 180px;
    color: #666;
}

html.photogallery .image-preview-dialog {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: none;
    cursor: pointer;
}

/* HEADER: */

html.photogallery div#header {
    border-bottom: 1px solid 222;
    margin-bottom: 16px;
}

/* CONTENT: */

html.photogallery div#content {
    min-height: 300px;
}

html.photogallery div#content h1 {
    font: 32px/40px Georgia, Times, serif;
    letter-spacing: 4px;
    margin: 8px 0 16px 0;
    text-shadow: 1px 1px silver;
}

html.photogallery div#content h1:before {
    content: "#";
}

html.photogallery div#content p {
    color: #313131 !important;
    font: 16px/1.2 Georgia, Times, serif;
    margin-bottom: 12px;
}

/* FOOTER: */

html.photogallery div#footer {
    border-top: 1px solid #313131;
    padding-top: 6px;
    margin-top: 16px;
    padding-bottom: 40px;
}

html.photogallery div#footer div#copyrights {
    font-size: 16px;
}

/* MAIN MENU: */

html.photogallery div#menu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
    z-index: 100;
}

html.photogallery div#menu div {
    background-color: #000000;
    background: linear-gradient(to bottom, #707070 0%, #000000 78%, #222222 100%) repeat scroll 0 0 transparent;
}

html.photogallery div#menu div ul {
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
    position: relative;
    min-width: 800px;
    max-width: 1106px;
    z-index: 101;
    list-style: none outside none;
}

html.photogallery div#menu div ul li {
    display: block;
    float: left;
    position: relative;
    padding: 0 8px 4px 8px;
}

html.photogallery div#menu div ul li a {
    display: block;
    color: white;
    outline: medium none;
    text-decoration: none;
}

html.photogallery div#menu div ul li:hover {
    background-color: #999;
}

html.photogallery div#menu div ul li.menu-right {
    float: right;
    position: relative;
}

html.photogallery div#menu div ul li#create-new-album-menu,
html.photogallery div#menu div ul li#add-photos-menu {
    display: none;
}

/*NEXT PREV ARROWS*/

html.photogallery div#prev-image,
html.photogallery div#next-image {
    background-color: transparent;
    background-image: url(/bundles/siciarekphotogallery/images/nextprev.png);
    background-position: 0 -50px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: none;
    height: 45px;
    width: 27px;
    position: relative;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0.6);
}

html.photogallery div#next-image {
    background-position: 0 -142px;
}

/*STATUS BAR*/

html.photogallery div#status-bar {
    position: fixed;
    height: 30px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #111;
    z-index: 6400;
}

html.photogallery div#status-bar .content {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 27px;
    color: #f8f8ff;
    margin: 0 auto;
    position: relative;
    min-width: 800px;
    max-width: 1106px;
    padding-left: 8px;
}

html.photogallery div#status-bar .content span {
    color: silver;
    font-weight: normal;
}

/* CONTEXT MENU UPDATE */

.context-menu-item.icon-show {
    background-image: url(/bundles/siciarekphotogallery/images/icons/show.png);
}

.context-menu-item.icon-hide {
    background-image: url(/bundles/siciarekphotogallery/images/icons/hide.png);
}

.context-menu-item.icon-edit {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/page_white_edit.png);
}

.context-menu-item.icon-cut {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/cut.png);
}

.context-menu-item.icon-copy {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/page_white_copy.png);
}

.context-menu-item.icon-paste {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/page_white_paste.png);
}

.context-menu-item.icon-delete {
    background-image: url(/bundles/siciarekphotogallery/images/icons/delete.png);
}

.context-menu-item.icon-add {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/page_white_add.png);
}

.context-menu-item.icon-quit {
    background-image: url(/bundles/siciarekphotogallery/js/jquery-context-menu/css/images/door.png);
}

.context-menu-item.icon-change-cover {
    background-image: url(/bundles/siciarekphotogallery/images/icons/node-image.png);
}

.context-menu-item:hover {
    background-color: #0A246A;
    color: white;
}